In [38]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pymysql
from config import sqlpass
from flask import Flask

In [34]:
df = pd.read_csv("athlete_events.csv")

In [11]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [35]:
rds_connection_string = f"root:{sqlpass}@127.0.0.1/olympics_db?charset=utf8"
engine = create_engine(f'mysql://{rds_connection_string}', encoding='utf-8')

In [27]:
engine.table_names()

['athlete_events']

In [36]:
df.to_sql(name='athlete_events', con=engine, if_exists='append', index=False)

In [43]:
data = engine.execute("SELECT * FROM  athlete_events Limit 10").fetchall()

In [46]:
df1 = pd.DataFrame

(1, 'A Dijiang', 'M', 24, 180, 80, 'China', 'CHN', '1992 Summer', 1992, 'Summer', 'Barcelona', 'Basketball', "Basketball Men's Basketball", None)
(2, 'A Lamusi', 'M', 23, 170, 60, 'China', 'CHN', '2012 Summer', 2012, 'Summer', 'London', 'Judo', "Judo Men's Extra-Lightweight", None)
(3, 'Gunnar Nielsen Aaby', 'M', 24, None, None, 'Denmark', 'DEN', '1920 Summer', 1920, 'Summer', 'Antwerpen', 'Football', "Football Men's Football", None)
(4, 'Edgar Lindenau Aabye', 'M', 34, None, None, 'Denmark/Sweden', 'DEN', '1900 Summer', 1900, 'Summer', 'Paris', 'Tug-Of-War', "Tug-Of-War Men's Tug-Of-War", 'Gold')
(5, 'Christine Jacoba Aaftink', 'F', 21, 185, 82, 'Netherlands', 'NED', '1988 Winter', 1988, 'Winter', 'Calgary', 'Speed Skating', "Speed Skating Women's 500 metres", None)
(5, 'Christine Jacoba Aaftink', 'F', 21, 185, 82, 'Netherlands', 'NED', '1988 Winter', 1988, 'Winter', 'Calgary', 'Speed Skating', "Speed Skating Women's 1,000 metres", None)
(5, 'Christine Jacoba Aaftink', 'F', 25, 185, 82, 'Netherlands', 'NED', '1992 Winter', 1992, 'Winter', 'Albertville', 'Speed Skating', "Speed Skating Women's 500 metres", None)
(5, 'Christine Jacoba Aaftink', 'F', 25, 185, 82, 'Netherlands', 'NED', '1992 Winter', 1992, 'Winter', 'Albertville', 'Speed Skating', "Speed Skating Women's 1,000 metres", None)
(5, 'Christine Jacoba Aaftink', 'F', 27, 185, 82, 'Netherlands', 'NED', '1994 Winter', 1994, 'Winter', 'Lillehammer', 'Speed Skating', "Speed Skating Women's 500 metres", None)
(5, 'Christine Jacoba Aaftink', 'F', 27, 185, 82, 'Netherlands', 'NED', '1994 Winter', 1994, 'Winter', 'Lillehammer', 'Speed Skating', "Speed Skating Women's 1,000 metres", None)

AttributeError: athlete_events